*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #fff;
    
}

#page1 h1 {
    font-size: 5vw;
    font-family: "gilroy";
    font-weight: 600;
    text-transform: capitalize;

}

#page2 {
    width: 100%;
    height: 100vh;
    background-color: red;

}